<div class="elements">
  <h1>
    Live Streaming<br><small style="font-size: 14pt;">Powered by Agora.io</small>
  </h1>

  <h4>Remote video</h4>

  @if (stream.liveUsersList.length == 0) {
    <div>
      <img src="assets/agora.png" alt="A black, brown, and white dog wearing a kerchief" class="agora-img">
    </div>
  }

  @for (i of stream.liveUsersList; track i; let j = $index) {
    <div class="col" id="remote-container">
      <div>
      <div id="{{ 'remote-playerlist' + i.uid}}" class="ui centered medium image" style="  width: 200px;
  height: 200px;display: flex;border: 1px solid;"></div>
        <div>user {{j + 1}}</div>
      </div>
    </div>
  }

  <button (click)="joinLiveCall()">watch live video</button>
  <button (click)="leave()">Leave</button>
</div>